/* dashboard_styles.css */

/* Common styles */
.dashboard {
  padding: 20px;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  background-image: url("https://wallpaperaccess.com/full/1704828.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Styles for smaller screens */
@media screen and (max-width: 576px) {
  .layout .react-grid-item {
    width: 100%; /* Use full width */
    margin-bottom: 10px; /* Adjust margin for better spacing */
    box-shadow: 0 4px 8px rgba(63, 129, 242, 0.2); /* Add box shadow */
    /* Adjust other styles for smaller screens */
  }
  .layout .react-grid-item > div {
    padding: 15px; /* Adjust padding */
    /* Adjust other styles for smaller screens */
  }
}
