body {
  /* background-image: url("https://wallpaperaccess.com/full/1704828.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Optional: Ensures the background image covers the entire body */
}
